
[Bb]in/
[Oo]bj/

.vs

*.user
*.suo
*.sln.docstates


.nuget/
!*.nupkg  # Keep actual package files if you commit them
**/packages.*
*.props

references/
Il2CppAssemblies/
Managed/
DummyDll/


*.dll
*.pdb


/cpp2il_out/
/ghidra_out/
/il2cpp_dump/
GameAssembly.dll
il2cpp_bin/


.DS_Store
.vscode/


*.log